@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Open+Sans&display=swap");
* {
  outline: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1 {
  color: white;
}

p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
  text-overflow: ellipsis;
  width: 60%;
  margin-block: auto;
  color: #1f6e8c;
}

button {
  transition: background-color 0.2s;
  border: none;
}

input {
  border: none;
  padding-inline: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #96b6c5;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
}

.buttons-area {
  display: none;
  max-width: fit-content;
  max-height: fit-content;
}

*:hover > .buttons-area {
  display: block;
  display: flex;
  align-items: center;
}

.delete-and-edit-buttons {
  height: 90%;
  aspect-ratio: 1/1;
  margin-inline: 5px;
  background-color: #1f6e8c;
  border-radius: 5px;
}
.delete-and-edit-buttons:hover {
  background-color: #4c8ba3;
}

.input-container {
  display: flex;
  width: 100%;
  height: 10%;
  max-height: 40px;
}
.input-container .input-field {
  width: 80%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.input-container .input-text {
  width: 20%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.input-container .input-text:hover {
  background-color: #000;
}

.lists-section {
  background: #526d82;
  width: 25%;
  height: 45vh;
  padding: 20px;
  margin: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #fff;
}
.lists-section #lists-container {
  width: 100%;
  height: 90%;
  overflow-y: auto;
}
.lists-section .list {
  display: flex;
  margin-block: 5px;
  font-size: large;
  padding: 5px 10px;
  height: 15%;
  justify-content: space-between;
  background-color: #d2e2e8;
  border-radius: 10px;
}
.lists-section .list input {
  background-color: transparent;
  width: 60%;
}

.tasks-section {
  background: #27374d;
  width: 45%;
  min-height: 80vh;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid #fff;
}
.tasks-section .task {
  display: flex;
}