@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Open+Sans&display=swap");

* {
  outline: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

// scroll bar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  //   background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1 {
  color: white;
}

p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
  text-overflow: ellipsis;
  width: 60%;
  margin-block: auto;
  color: $item-text-color;
}

button {
  transition: background-color 0.2s;
  border: none;
}

input {
  border: none;
  padding-inline: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $main-background;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
}

.buttons-area {
  display: none;
  max-width: fit-content;
  max-height: fit-content;
}

*:hover > .buttons-area {
  display: block;
  display: flex;
  align-items: center;
}
.delete-and-edit-buttons {
  height: 90%;
  aspect-ratio: 1/1;
  margin-inline: 5px;
  background-color: $delete-and-edit-buttons-background;
  border-radius: 5px;

  &:hover {
    background-color: mix(#fff, $delete-and-edit-buttons-background, 20);
  }
}

.input-container {
  display: flex;
  width: 100%;
  height: 10%;
  max-height: 40px;

  .input-field {
    width: 80%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .input-text {
    width: 20%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    &:hover {
      background-color: #000;
    }
  }
}
