@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Open+Sans&display=swap");

* {
  outline: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  // flex-direction: column;
  // justify-content: center;
  align-items: center;
}

.task {
  display: flex;
}
