<template id="task-template">
  <div class="task">
    <input style="display: none" type="text" class="task-edit-input" />
    <div class="description-container">
      <input type="checkbox" class="task-checkbox" />
      <p class="task-text"></p>
    </div>
    <div class="buttons-area">
      <button class="task-edit-button delete-and-edit-buttons">
        <i class="fa-solid fa-pen"></i>
      </button>
      <button class="task-delete-button delete-and-edit-buttons">
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>
  </div>
</template>
