.lists-section {
  background: $list-section-background;
  width: 25%;
  height: 45vh;
  padding: 20px;
  margin: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #fff;

  #lists-container {
    width: 100%;
    height: 90%;
    overflow-y: auto;
  }

  .list {
    display: flex;
    margin-block: 5px;
    font-size: large;
    padding: 5px 10px;
    height: 15%;
    // text-decoration: underline;
    justify-content: space-between;
    background-color: $item-background;
    border-radius: 10px;

    input {
      background-color: transparent;
      width: 60%;
    }
  }
}
