.tasks-section {
  flex: 1;
  height: 100%;
  width: 70%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  h2 {
    color: #323b4c;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
    text-overflow: ellipsis;
    margin-block: auto;
  }

  .task-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 48px;

    input {
      height: 100%;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      flex: 1;
    }

    button {
      height: 100%;
      background: $item-background;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      color: white;
      padding-inline: 16px;
    }
  }

  #tasks-container {
    width: 100%;
    overflow-y: auto;
    flex: 1;
    overflow-x: hidden;
  }

  .task {
    display: flex;
    width: 100%;
    position: relative;
    margin-block: 5px;
    font-size: x-large;
    padding: 5px 10px;
    height: 64;
    flex-shrink: 0;

    justify-content: space-between;
    border-radius: 10px;
    background-color: $item-background;

    .buttons-area {
      max-width: fit-content;
      max-height: fit-content;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      height: 100%;
      transform: translateX(110%);
      transition: transform 0.4s;
      gap: 8px;
      padding: 8px;

      button {
        background: $item-text-color;
        padding: 0;
        height: 100%;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        overflow: hidden;
        color: $item-background;
        cursor: pointer;
      }
    }

    &:hover > .buttons-area {
      transform: translateX(0%);
    }

    .description-container {
      display: flex;
      width: 70%;

      p {
        width: 95%;
      }

      input[type="checkbox"] {
        width: 16px;
        margin-inline: 8px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .tasks-section {
    width: 60%;
  }
}
@media screen and (max-width: 750px) {
  .tasks-section {
    width: 100%;
    min-height: 560px;
    height: 50vh;
  }
}
